node_modules/
.pnpm-store/

**/lib/
**/dist/
**/cdk.out/
**/.jsii
**/coverage/
**/test-reports/
**/.turbo/
**/*.tsbuildinfo
**/*.tgz
packages/*/pnpm-lock.yaml
packages/*/pnpm-workspace.yaml

.DS_Store
*.log
